<template>
<div>
  <h1>kInput component (vue):</h1>
  <br /><br />
  <k-input></k-input>
  <br /><br />
  <k-input v-model="address.value"></k-input>
  <br /><br />
  <k-input v-model="email.value" v-bind="email" class="__color_orange"></k-input>
</div>
</template>

<script>
import kInput from "../component/kInput.vue"

export default {
  components: {
    kInput
  },
  data () {
    return {
      address: {
        value: "custom address value",
      },
      email: {
        value: null,
        required: true,
        type: "email",
        placeholder: "custom email placeholder",
        label: "enter email:",
        errors: { // custom error messages
          required: { text: "custom error: e-mail is mandatory", value: false },
          format: { text: "custom error: enter valid e-mail", value: false }
        },
        hint: "custom field hint"
      },
    }
  }
}
</script>
