<template>
  <div
    class="kInput"
    :class="{ __active: isActive, __error: hasError }" 
    v-on-clickaway="exit">
    <label
      class="kInput_label"
      v-if="label"
      @click.prevent="activate"
      :class="{ __bold: required }">{{ label }}</label>
    <div class="kInput_field">
      <input
        ref="input"
        :placeholder="placeholder"
        :value="value"
        :type="type"
        @blur="exit"
        @focus="activate"
        @input="emitChange" />
    </div>
    <div class="kInput_hint" v-if="hint && !hasError">
      {{ hint }}
    </div>
    <k-error :errors="errors"></k-error>
  </div>
</template>

<script>
import kError from "k-error"
import { mixin as clickaway } from "vue-clickaway"

export default {
  components: { kError },
  mixins: [ clickaway ],
  props: [ "errors", "label", "placeholder", "type", "value", "hint", "required" ],
  data() {
    return {
      active: false
    }
  },
  computed: {
    isActive() {
      return (this.value || this.active) ? true: false
    },

    hasError() {
      if (this.errors) {
        for (var error in this.errors) {
          if (this.errors[error].value)
            return true
        }
      }

      return false
    }
  },
  methods: {
    activate() {
      this.active = true
      this.$refs.input.focus()
    },

    emitChange(e) {
      this.$emit("input", e.target.value || null)
    },

    exit() {
      if (!this.value)
        this.active = false
    },
  }
}
</script>

<style lang="sass" src="./kInput.sass"></style>
