@import "vars.sass"

.kInput
  display: inline-block
  position: relative
  width: 200px

  .kInput_label
    display: inline-block
    margin-bottom: 5px

    &.__bold
      font-weight: bold

  .kInput_field
    position: relative
    box-sizing: border-box
    height: 35px
    padding: 0
    background: white
    border-radius: 2px
    border: 1px solid #bbb
    transition: $animate-normal

    &:hover
      border-color: rgba($blue, .5)

    input
      border: none
      background: none
      width: 100%
      height: 100%
      padding: 0 10px 3px 10px
      display: block
      box-sizing: border-box

      &:focus,
      &:active
        outline: none

      &[readonly]
        cursor: default

  .kInput_hint
    margin-top: 5px
    color: #aaa
    text-align: right



  &.__active

    .kInput_field
      border: 1px solid $blue

  &.__error

    .kInput_field
      background: #ffe6e6

  &.__width_full
    width: 100%

  &.__color_orange

    .kInput_field:hover
      border-color: rgba($orange, .5)

    &.__active

      .kInput_field
        border: 1px solid $orange
